body
{
	margin:0;
	padding:0;
	color: #354a55;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

h1,
h2
{
	margin: 0px;
	font-weight: normal;
}

h3,
label,
legend
{	
	color: #062c49;
	text-transform: uppercase;
	font-weight: bold;
}
h1
{
	padding-bottom: 10px;
	color: #056839;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
h3
{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 40px;
}

p
{
	margin: 0 0 0.8em 0;
}

select
{
	box-sizing: border-box;
	width: 100%;
	font-family: inherit;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
}

fieldset {
	border-radius: 10px;
	border: 1px solid #eee;
	padding: 5px 20px 20px;
	text-align: left;
	vertical-align: top;
	margin-bottom: 20px;
}

legend {
	font-size: 18px;
	margin-left: -13px;
	padding: 0 15px;
}

input,
textarea
{
    border: 1px solid #bba363;
  	padding: 10px 5px;
  	font-size: 18px;
		box-sizing: border-box;
		resize: none;
		width: 100%;
}
input
{
	height: 30px;
	line-height: 30px;
}

label
{
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
	text-transform: uppercase;
}

.vendor
{
	display: none;
}

#header
{
	text-align: center;
}

#banner
{
	background: url(../images/banner.jpg) no-repeat;
	background-size: cover;
	padding: 50px 0px;
}

#logo:before
{
	 margin-right: 40px;
}

#logo:after
{	
	left: auto;
    right: 0px; 
    margin-left: 40px; 
}

#banner-inner
{
    margin: 0 auto;
    max-width: 940px;
    padding: 55px 0px;
    background: rgba(255,255,255,0.8);
}

h1
{
	font-size: 34px;
	font-weight: 100;
}

#banner h1
{
	letter-spacing: 6px;
}

#banner h2
{	
	font-size: 60px;
	font-weight: normal;
  letter-spacing: 5px;
	font-family: 'Dancing Script', cursive;
}

.logo-text
{
	color:#126b36;
	font-size: 23px;
	text-align: right;
	font-weight: 600;
}

p.logo-text
{
	text-shadow:none;
}

#header-inner
{	
	margin: 30px auto 45px; 
	text-align: center;
}

#header img
{
	vertical-align: middle;
}

#content
{
	color: #354a55;
}

#content-inner
{
	max-width:900px;
	margin:0 auto;
	padding: 0px 10px 0px;
	overflow: hidden;
}

#coming-soon p
{	
	font-size: 30px;
	margin-right: -99px;
	margin-left: -100px;
}

#coming-soon
{
	font-size: 30px;
	width: 200px;
	margin-left: 200px;
	padding: 30px;
	border-bottom: 2px solid white;
}

#email a
{
	text-decoration: none;
}

#email a:hover
{
	font-weight: bold;
}

#email,#phone
{
	vertical-align: middle;
}

#email:before
{	
	content: url(../images/email.png);
	width: 30px;
	padding-right: 5px;
	display: inline-block;
	vertical-align: middle;
}

#phone:before
{	
	content: url(../images/phone.png);
	width: 30px;
	padding-right: 5px;
	display: inline-block;
	vertical-align: middle;
}

#bottom-text
{	
	clear: left;
	font-size: 32px;
	padding: 40px 0px;
	padding-top: 0px;
}

#bottom-text a
{
	color: #82d3ea;
	font-weight: 100;
	text-decoration: none;
	border-bottom: 1px solid;
}

#link
{
	margin-top: 10px;
}

#link a
{	
	margin:20px auto;
	width:270px;
	line-height:55px;
	color:#126b36;
	vertical-align: middle;
	border-radius: 2px;
	font-weight: bold;
	text-shadow:none;
	display: block;
	border: 2px solid white;
}

#link a:hover
{
	background: white;
	color:#126b36;
}

#link p
{
	font-weight: bold;
}

#united-logo
{
    background: white;
    padding: 10px;
    width: 200px;
    border-radius: 2px;
    margin: 0 auto;
}

#link a
{
	text-decoration: none;
	color:white;	
}

#loading
{	
	display: none;
	text-align: center;
}

#footer
{
	padding: 0px 10px 20px;
	overflow: hidden;
}
#footer a
{
	text-decoration: none;
}
#footer span
{	
	display: inline-block;
	padding: 10px 10px;
}

#footer > div
{
	margin: 0 auto;
	text-align: center;
}

#footer-logo-text
{
	color:#126b36;
	text-align: right;
	font-size:10px;
	font-weight: bold; 
	text-shadow:none;
}

#signup
{
	margin-bottom: 0px;
	max-width: 560px;
	margin: 0 auto;
}

#signup input
{
    display: block;
    width: 100%;
    -webkit-appearance: none;
}

.form-signup input
{
	height: 42px;
	line-height: 42px;
}

.form-first-name,
.form-last-name,
.form-email
{
	width: 48%;
	float: left;
}
.form-first-name
{
	margin-right: 4%;
}
.form-signup .form-email
{
	float: none;
	width: auto;
	margin-right: 0;
}

.email
{
	clear: left;
}

.textfield,
.emailfield
{
    margin-bottom: 20px;
}

button,
.button
{
	display: inline-block;
	background: #bba363;
	min-width: 182px;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	margin: 0 auto;
	padding: 10px;
	border: 0;
	font-family: inherit;
	font-size: inherit;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	-webkit-appearance: none;
	appearance: none;
}

.add-player
{
	display: block;
	margin-bottom: 20px;
}
.remove-player
{
	color: #bba363;
	font-size: 0.7em;
	display: inline-block;
	margin-left: 12px;
}

#response
{
	clear: left;
	padding: 20px 10px;
	text-align: center;
}

.form.donation
{
	max-width: 560px;
	margin: 0 auto;
}

.donation-form {
	display: none;
}

.field-label {
	display: block;
	font-size: 13px;
	padding-left: 2px;
	vertical-align: top;
	margin-bottom: 0;
	padding-bottom: 10px;
}

.donation-form .form-first-name,
.donation-form .form-last-name,
.donation-form .form-city,
.donation-form .form-state,
.donation-form .form-zip {
	display: inline-block;
}

.donation-form .form-city {
	width: 160px;
}

.donation-form .form-state {
	margin: 0 10px;
	width: 72px;
}

.donation-form .form-zip {
	width: 96px;
}

.form-cvc,
.form-expiry {
	display: inline-block;
	vertical-align: top;
	width: 75px;
}

.form-cvc {
	margin-right: 10px;
}
.form-expiry {
	width: 225px;
}

.form-expiry select {
	width: 120px;
}

.form-expiry select:last-child {
	margin-left: 10px;
	width: 90px;
}

.form-submit {
	margin: 15px 0;
	text-align: center;
}
.donation-form .submit-button {
	background-color: #008939;
	border-radius: 4px;
	border: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	padding: 15px 30px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.donation-form .submit-button:hover {
	background-color: #119347;
}

.error
{
	color: red;
	margin: 10px;
	text-align: center;
}

.disabled
{
	background: rgba(0,0,0,0.1);
}

.messages {
	color: #570707;
	padding: 10px 20px;
	font-weight: 600;
}

.golf-heading
{
	text-align: center;
	margin-bottom: 80px;
}
.golf-heading img
{
	display: inline-block;
	max-width: 100%;
	height: auto;
}
.golf-heading h3
{
	font-weight: bold;
	font-style: italic;
	max-width: 600px;
	margin: 40px auto 20px auto;
	font-size: 1.5em;
	text-transform: none;
}
.golf-heading p
{
	font-size: 1.15em;
	font-weight: 600;
}
.golf-button-container
{
	max-width: 620px;
	margin: 40px auto;
	overflow: hidden;
}
.golf-button
{
	display: block;
	background: #062c49;
	color: white;
	width: 45%;
	float: left;
	text-decoration: none;
}
.golf-button:before
{
	content: "";
	display: block;
	width: 100%;
	padding-bottom: 100%;
	background: no-repeat center center;
	background-size: 70% auto
}
.golf-button-first
{
	margin-right: 10%;
}
.golf-button-first:before
{
	background-image: url(../images/golfers-white.png);
}
.golf-button-first:hover:before
{
	background-image: url(../images/golfers-gold.png);
}
.golf-button-last:before
{
	background-image: url(../images/helmet-white.png);
}
.golf-button-last:hover:before
{
	background-image: url(../images/helmet-gold.png);
}
.golf-button span
{
	display: block;
	padding: 12px 6px;
	background: #bba363;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
}

.home-golf-heading
{
	padding: 40px 20px;
	background: url(../images/bg-golf.jpg?v=1) no-repeat left bottom;
	background-size: cover;
	color: white;
	font-weight: 600;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}
.home-golf-heading h3
{
	color: white;
	margin-top: 20px;
}
.home-golf-heading .presents1
{
	font-size: 1.5em;
	font-weight: 800;
	font-style: italic;
}
.home-golf-heading .button
{
	text-shadow: none;
	font-weight: 800;
}







@media screen and (max-width: 767px)
{
	#header
	{
		width: 300px;
		margin: 0 auto;
	}

	#header img
	{
		width: 100%;
	}
}

@media screen and (max-width: 520px)
{	

	#mc_embed_signup .mc-field-group, #mc_embed_signup .submit
	{
		float: none;
		width: 100%;
	}

	.textfield
	{
		width: 100%;
	}

	#logo:before, #logo:after
	{
		width: 32%;
	}

	#mc_embed_signup .mc-field-group
	{
	    margin: 20px 0px;
	}

	h1
	{
		font-size: 36px;
	}

	#bottom-text a
	{
		font-size: 26px;
	}
	
	.form-first-name, .form-last-name, .form-email
	{
		float: none;
		width: 100%;
		margin-right: 0;
	}
	.form-signup .form-last-name
	{
		margin-right: 0;
	}
}
